{% extends 'recycler.html.twig' %}

{% block title %}Hello TechnologiesController!{% endblock %}

{% block recycler_name %}Technologies{% endblock %}
{% block recycler_subName %} Upgrade your Technologies {% endblock %}
{% block recycler_explenation %} here you can upgrade your technologies, that can have a big effect on your build or unites {% endblock %}

{% block body %}
    {% for technologyStats in technolgiesStats %}
        <div class="card text-white bg-primary mb-3" style="margin: 0 auto; width: 20rem;">
            <div class="card-header">{{ technologyStats.name }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ technologyStats.explaine }}</h4>
                <p class="card-text">{{ technologyStats.explaineStats }}</p>
            </div>

            <div style="row">
                {% if not technologyStats.actualUpgradeTime %}
                    <div class="mb-3">
                        <button type="button" class="btn btn-sm btn-success">+1</button>
                    </div>
                {% else %}
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{ technologyStats.actualUpgradeTime / technologyStats.upgradeTime * 100 }}%;"></div>
                    </div>
                {% endif %}
            </div>

        </div>
    {% endfor %}
{% endblock %}
