{% extends 'base.html.twig' %}
{% block title %}
    Game!
{% endblock %}

{% block body %}
<div class="card mb-3">
  {% if user %}
    <h3 class="card-header">Profile</h3>
    <img alt="Embedded Image" src="data:image/png;base64,{{ image }}" />
    <div class="card-body">
      <h5 class="card-title">{{ user.username }}</h5>
      <p class="card-text">ELO: {{ user.elo }}<br />Gold: {{ user.gold }}</p>
    </div>
  {% endif %}
</div>
{% endblock %}