{% extends 'base.html.twig' %}
{% block title %}
    Game!
{% endblock %}

{% block body %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Place</th>
      <th scope="col">Username</th>
      <th scope="col">ELO</th>
    </tr>
  </thead>
  <tbody>
  {% for player in players %}
    <tr>
      <th>{{ loop.index }}</th>
      <td>{{ player.username }}</td>
      <td>{{ player.elo }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}